@layout('main')
@section('root')
<h1 class="m-0 text-dark">Dashboard</h1>
@endsection
@section('child')
<li class="breadcrumb-item"><a href="/dashboard">home</a></li>
@endsection
@section('sroot')
<li class="breadcrumb-item active">Dashboard</li>
@endsection
@section('content')
  <p>carai</p>
@endsection